body {
  width: 100%;
  height: 100vh;
  background: #1e1f26;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text-h1 {
  font-size: 100px;
  font-weight: 800;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  filter: url("#text-stroke-filter");
}

svg {
  width: 0;
}

#text-outline-canvas {
  width: 1000px;
  height: 500px;
  background-color: #1e1f26;
  border: 1px solid #fff;
}
